<!DOCTYPE html>
<html>
	<head>
    	<title>Food Allergy Prediction</title>
      	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
      	<link rel=stylesheet/less type=text/css href="{{ url_for('static', filename='buttons.less') }}">
      	<link rel=stylesheet/less type=text/css href="{{ url_for('static', filename='styles.css') }}">
      	<script src="{{ url_for('static', filename='less.min.js') }}" type="text/javascript"></script>
      	<script src="{{ url_for('static', filename='buttons.js') }}" type="text/javascript"></script>
  	</head>
  	<body>
      <div id="content">
    		<h1>Food Allergy Prediction</h1>
    		<div>
    			<a href="/index" class="button button-inline button-small button-info"><span>Home</span></a>
    			<a href="/alldata" class="button button-inline button-small button-info"><span>Allergen Data Set</span></a>
    			<a href="/nalldata" class="button button-inline button-small button-info"><span>Non-Allergen Data Set</span></a>
      	<hr>
  	    {% with messages = get_flashed_messages() %}
  	      {% if messages %}
  	        <ul>
  	        {% for message in messages %}
  	            <li>{{ message }} </li>
  	        {% endfor %}
  	        </ul>
  	      {% endif %}
  	    {% endwith %}
  	    {% block content %}{% endblock %}
      </div>
  	</body>
  	<footer>
      <hr>
    	<p>© 2015-2017 García Moreno, Francisco Manuel</p>
  	</footer>
</html>